@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/** BASIC TAGS                     */
/** ****************************** */
/** ****************************** */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;

  :hover {
    color: #bcbcbc;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

ul {
  list-style: none;
}

/** HELP DEFAULT CLASSES           */
/** ****************************** */
/** ****************************** */
.grid_row {
  grid-column-start: span 2;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;

  >* {
    margin-left: 10px;
  }
}

.mainPicture {
  width: 100%;
}

/** GRID AREAS                     */
/** ****************************** */
/** ****************************** */
.container {
  width: 100%;
  max-width: 1400px;
  min-width: 700px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 70px auto auto 1fr 70px;
  gap: 5px;
  padding: 0 5px 0 5px;

  >* {
    border-radius: 10px;
  }
}

.header {
  background: linear-gradient(to bottom right, rgb(244, 244, 244), rgb(239, 239, 239));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: 70px;
  position: sticky;
  top: 0;
}

.content {
  grid-row-start: 2;
  grid-row-end: 6;
  background: linear-gradient(to bottom right, rgb(244, 244, 244), rgb(239, 239, 239));
  text-align: center;
}

/** SIDEBAR                        */
/** ****************************** */
/** ****************************** */
.sidebar_buttons {
  /* background-color: darkkhaki; */
  grid-column: 1;
  grid-row: 2;
  padding: 20px 10px 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search_bar {
  /* background-color: chartreuse; */
  grid-column: 1;
  grid-row: 3;
  padding: 10px 10px 0 10px;

}

.user_cards {
  background-color: bisque;
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6; */
  grid-area: 4 / 1 / 6 / 2;
  padding: 10px;
  overflow-y: auto;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  /* padding: 10px; */
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delete-button {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.card:hover {
  background-color: #828282;
  border-color: #828282;

  .delete-button {
    display: block;
  }
}


/** MESSAGES                       */
/** ****************************** */
/** ****************************** */

.messages_area {
  grid-area: 2 / 2 / 5 / 3;
  background-color: rgb(255, 180, 218);
  height: 100%;
  overflow-y: auto;
}

.add_message_bar {
  grid-column: 2;
  grid-row: 5;
  background-color: darkcyan;
}

/** HEADING                        */
/** ****************************** */
/** ****************************** */
.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 50px 0px;

  >p {
    color: #828282;
  }
}

/** FORM                           */
/** ****************************** */
/** ****************************** */
.form {
  width: 40%;
  margin: 0 auto;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}


/** BUTTON BTN                     */
/** ****************************** */
/** ****************************** */
.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.99);
}


@media (max-width: 1200px) {
  .form {
    width: 60%;
    margin: 0 auto;
  }
}